[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/pas"]
	path = lib/pas
	url = https://github.com/sky-ecosystem/pas
[submodule "lib/diamond-pau"]
	path = lib/diamond-pau
	url = https://github.com/sky-ecosystem/diamond-pau
	branch = dev
